In [54]:
import pandas as pd

In [55]:
teams_df= pd.read_csv("/Users/vidushi/Documents/Data_Visualization/datasets/olympics/teams.csv")
events_df= pd.read_csv("/Users/vidushi/Documents/Data_Visualization/datasets/olympics/events.csv")

In [56]:
teams_df.head()

,code,current,team,team_gender,country_code,country,country_long,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,ARCMTEAM3---CHN01,True,People's Republic of China,M,CHN,China,People's Republic of China,Archery,ARC,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
1,ARCMTEAM3---COL01,True,Colombia,M,COL,Colombia,Colombia,Archery,ARC,Men's Team,"['ARCILA Santiago', 'ENRIQUEZ Jorge', 'HERNAND...",NaN,"['1935642', '1543412', '1935644']",3.0,NaN,NaN
2,ARCMTEAM3---FRA01,True,France,M,FRA,France,France,Archery,ARC,Men's Team,"['ADDIS Baptiste', 'CHIRAULT Thomas', 'VALLADO...",NaN,"['1541270', '1541272', '1541275']",3.0,NaN,NaN
3,ARCMTEAM3---GBR01,True,Great Britain,M,GBR,Great Britain,Great Britain,Archery,ARC,Men's Team,"['HALL Conor', 'HALL Tom', 'WISE Alex']",NaN,"['1560988', '1560989', '1561003']",3.0,NaN,NaN
4,ARCMTEAM3---IND01,True,India,M,IND,India,India,Archery,ARC,Men's Team,"['BOMMADEVARA Dhiraj', 'JADHAV Pravin Ramesh',...",NaN,"['1546108', '1546112', '1546110']",3.0,NaN,NaN

In [57]:
events_df.head()

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,Men's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,Women's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,Mixed Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [58]:
teams_events_count = teams_df.groupby('events').size().reset_index(name='count')
teams_events_count

                                 events  count
0             10m Air Pistol Mixed Team     17
1              10m Air Rifle Mixed Team     28
2                  4 x 400m Relay Mixed     16
3                         Dressage Team     15
4                                  Duet     18
5                         Eventing Team     16
6                      Group All-Around     14
7                          Jumping Team     20
8       Lightweight Men's Double Sculls     18
9     Lightweight Women's Double Sculls     18
10       Marathon Race Walk Relay Mixed     25
11                                  Men    120
12       Men's 4 x 100m Freestyle Relay     16
13          Men's 4 x 100m Medley Relay     16
14                 Men's 4 x 100m Relay     16
15       Men's 4 x 200m Freestyle Relay     16
16                 Men's 4 x 400m Relay     16
17              Men's Canoe Double 500m     15
18                  Men's Double Sculls     15
19                        Men's Doubles     50
20                          Men's Eight      9
21                      Men's Foil Team      8
22                           Men's Four     11
23              Men's Kayak Double 500m     22
24                Men's Kayak Four 500m     13
25                        Men's Madison     15
26                           Men's Pair     15
27               Men's Quadruple Sculls     11
28                     Men's Sabre Team      8
29                          Men's Skiff     20
30      Men's Synchronised 10m Platform      8
31    Men's Synchronised 3m Springboard      8
32                           Men's Team     40
33                   Men's Team Pursuit     10
34                    Men's Team Sprint      8
35                      Men's Épée Team      8
36          Mixed 4 x 100m Medley Relay     16
37                         Mixed Dinghy     19
38                        Mixed Doubles     51
39                      Mixed Multihull     19
40                          Mixed Relay     16
41                           Mixed Team     46
42                     Skeet Mixed Team     16
43                                 Team     10
44                                Women    114
45     Women's 4 x 100m Freestyle Relay     16
46        Women's 4 x 100m Medley Relay     16
47               Women's 4 x 100m Relay     16
48     Women's 4 x 200m Freestyle Relay     16
49               Women's 4 x 400m Relay     16
50            Women's Canoe Double 500m     15
51                Women's Double Sculls     15
52                      Women's Doubles     48
53                        Women's Eight      9
54                    Women's Foil Team      8
55                         Women's Four     11
56            Women's Kayak Double 500m     22
57              Women's Kayak Four 500m     12
58                      Women's Madison     15
59                         Women's Pair     15
60             Women's Quadruple Sculls     11
61                   Women's Sabre Team      8
62                        Women's Skiff     20
63    Women's Synchronised 10m Platform      8
64  Women's Synchronised 3m Springboard      8
65                         Women's Team     40
66                 Women's Team Pursuit     10
67                  Women's Team Sprint      8
68                    Women's Épée Team      8

# Set pandas options to display all rows and columns

In [59]:

teams_events_count = teams_df.groupby('events').size().reset_index(name='count')
teams_events_count

                                 events  count
0             10m Air Pistol Mixed Team     17
1              10m Air Rifle Mixed Team     28
2                  4 x 400m Relay Mixed     16
3                         Dressage Team     15
4                                  Duet     18
5                         Eventing Team     16
6                      Group All-Around     14
7                          Jumping Team     20
8       Lightweight Men's Double Sculls     18
9     Lightweight Women's Double Sculls     18
10       Marathon Race Walk Relay Mixed     25
11                                  Men    120
12       Men's 4 x 100m Freestyle Relay     16
13          Men's 4 x 100m Medley Relay     16
14                 Men's 4 x 100m Relay     16
15       Men's 4 x 200m Freestyle Relay     16
16                 Men's 4 x 400m Relay     16
17              Men's Canoe Double 500m     15
18                  Men's Double Sculls     15
19                        Men's Doubles     50
20                          Men's Eight      9
21                      Men's Foil Team      8
22                           Men's Four     11
23              Men's Kayak Double 500m     22
24                Men's Kayak Four 500m     13
25                        Men's Madison     15
26                           Men's Pair     15
27               Men's Quadruple Sculls     11
28                     Men's Sabre Team      8
29                          Men's Skiff     20
30      Men's Synchronised 10m Platform      8
31    Men's Synchronised 3m Springboard      8
32                           Men's Team     40
33                   Men's Team Pursuit     10
34                    Men's Team Sprint      8
35                      Men's Épée Team      8
36          Mixed 4 x 100m Medley Relay     16
37                         Mixed Dinghy     19
38                        Mixed Doubles     51
39                      Mixed Multihull     19
40                          Mixed Relay     16
41                           Mixed Team     46
42                     Skeet Mixed Team     16
43                                 Team     10
44                                Women    114
45     Women's 4 x 100m Freestyle Relay     16
46        Women's 4 x 100m Medley Relay     16
47               Women's 4 x 100m Relay     16
48     Women's 4 x 200m Freestyle Relay     16
49               Women's 4 x 400m Relay     16
50            Women's Canoe Double 500m     15
51                Women's Double Sculls     15
52                      Women's Doubles     48
53                        Women's Eight      9
54                    Women's Foil Team      8
55                         Women's Four     11
56            Women's Kayak Double 500m     22
57              Women's Kayak Four 500m     12
58                      Women's Madison     15
59                         Women's Pair     15
60             Women's Quadruple Sculls     11
61                   Women's Sabre Team      8
62                        Women's Skiff     20
63    Women's Synchronised 10m Platform      8
64  Women's Synchronised 3m Springboard      8
65                         Women's Team     40
66                 Women's Team Pursuit     10
67                  Women's Team Sprint      8
68                    Women's Épée Team      8

In [60]:

events_event_count = events_df.groupby('event').size().reset_index(name='count')

events_event_count

                                   event  count
0                     10m Air Pistol Men      1
1              10m Air Pistol Mixed Team      1
2                   10m Air Pistol Women      1
3                      10m Air Rifle Men      1
4               10m Air Rifle Mixed Team      1
5                    10m Air Rifle Women      1
6                       25m Pistol Women      1
7              25m Rapid Fire Pistol Men      1
8                   4 x 400m Relay Mixed      1
9              50m Rifle 3 Positions Men      1
10           50m Rifle 3 Positions Women      1
11                                B-Boys      1
12                               B-Girls      1
13                   Dressage Individual      1
14                         Dressage Team      1
15                                  Duet      1
16                   Eventing Individual      1
17                         Eventing Team      1
18                      Group All-Around      1
19                 Individual All-Around      1
20                    Jumping Individual      1
21                          Jumping Team      1
22       Lightweight Men's Double Sculls      1
23     Lightweight Women's Double Sculls      1
24        Marathon Race Walk Relay Mixed      1
25                                   Men     12
26                           Men +100 kg      1
27                             Men +80kg      1
28                           Men -100 kg      1
29                             Men -58kg      1
30                            Men -60 kg      1
31                            Men -66 kg      1
32                             Men -68kg      1
33                            Men -73 kg      1
34                             Men -80kg      1
35                            Men -81 kg      1
36                            Men -90 kg      1
37                          Men's +102kg      1
38                           Men's +92kg      1
39                         Men's 10,000m      1
40                            Men's 100m      1
41                 Men's 100m Backstroke      1
42               Men's 100m Breaststroke      1
43                  Men's 100m Butterfly      1
44                  Men's 100m Freestyle      1
45                           Men's 102kg      1
46                            Men's 10km      1
47                    Men's 10m Platform      1
48                    Men's 110m Hurdles      1
49                           Men's 1500m      1
50                 Men's 1500m Freestyle      1
51                            Men's 200m      1
52                 Men's 200m Backstroke      1
53               Men's 200m Breaststroke      1
54                  Men's 200m Butterfly      1
55                  Men's 200m Freestyle      1
56          Men's 200m Individual Medley      1
57                  Men's 20km Race Walk      1
58              Men's 3000m Steeplechase      1
59                  Men's 3m Springboard      1
60        Men's 4 x 100m Freestyle Relay      1
61           Men's 4 x 100m Medley Relay      1
62                  Men's 4 x 100m Relay      1
63        Men's 4 x 200m Freestyle Relay      1
64                  Men's 4 x 400m Relay      1
65                            Men's 400m      1
66                  Men's 400m Freestyle      1
67                    Men's 400m Hurdles      1
68          Men's 400m Individual Medley      1
69                           Men's 5000m      1
70                   Men's 50m Freestyle      1
71                            Men's 51kg      1
72                            Men's 57kg      1
73                            Men's 61kg      1
74                          Men's 63.5kg      1
75                            Men's 71kg      1
76                            Men's 73kg      1
77                            Men's 800m      1
78                  Men's 800m Freestyle      1
79                            Men's 80kg      1
80                            Men's 89kg      1
81                            Men's 92kg      1
82                      Men's All-Around      1
83                  Men's Boulder & Lead      1
84               Men's Canoe Double 500m      1
85                    Men's Canoe Single      1
86              Men's Canoe Single 1000m      1
87                   Men's Cross-country      1
88                       Men's Decathlon      1
89                          Men's Dinghy      1
90                    Men's Discus Throw      1
91                   Men's Double Sculls      1
92                         Men's Doubles      2
93                           Men's Eight      1
94                  Men's Floor Exercise      1
95                 Men's Foil Individual      1
96                       Men's Foil Team      1
97                            Men's Four      1
98                 Men's Freestyle 125kg      1
99                  Men's Freestyle 57kg      1
100                 Men's Freestyle 65kg      1
101                 Men's Freestyle 74kg      1
102                 Men's Freestyle 86kg      1
103                 Men's Freestyle 97kg      1
104              Men's Greco-Roman 130kg      1
105               Men's Greco-Roman 60kg      1
106               Men's Greco-Roman 67kg      1
107               Men's Greco-Roman 77kg      1
108               Men's Greco-Roman 87kg      1
109               Men's Greco-Roman 97kg      1
110                   Men's Hammer Throw      1
111                      Men's High Jump      1
112                 Men's Horizontal Bar      1
113                     Men's Individual      3
114         Men's Individual Stroke Play      1
115          Men's Individual Time Trial      1
116                  Men's Javelin Throw      1
117                    Men's Kayak Cross      1
118              Men's Kayak Double 500m      1
119                Men's Kayak Four 500m      1
120                   Men's Kayak Single      1
121             Men's Kayak Single 1000m      1
122                         Men's Keirin      1
123                           Men's Kite      1
124                      Men's Long Jump      1
125                        Men's Madison      1
126                       Men's Marathon      1
127                         Men's Omnium      1
128                           Men's Pair      1
129                  Men's Parallel Bars      1
130                           Men's Park      2
131                     Men's Pole Vault      1
132                   Men's Pommel Horse      1
133               Men's Quadruple Sculls      1
134                          Men's Rings      1
135                      Men's Road Race      1
136               Men's Sabre Individual      1
137                     Men's Sabre Team      1
138                       Men's Shot Put      1
139                  Men's Single Sculls      1
140                        Men's Singles      3
141                          Men's Skiff      1
142                          Men's Speed      1
143                         Men's Sprint      1
144                         Men's Street      1
145      Men's Synchronised 10m Platform      1
146    Men's Synchronised 3m Springboard      1
147                           Men's Team      3
148                   Men's Team Pursuit      1
149                    Men's Team Sprint      1
150                    Men's Triple Jump      1
151                          Men's Vault      1
152                    Men's Windsurfing      1
153                Men's Épée Individual      1
154                      Men's Épée Team      1
155          Mixed 4 x 100m Medley Relay      1
156                         Mixed Dinghy      1
157                        Mixed Doubles      3
158                      Mixed Multihull      1
159                          Mixed Relay      1
160                           Mixed Team      2
161                            Skeet Men      1
162                     Skeet Mixed Team      1
163                          Skeet Women      1
164                                 Team      1
165                             Trap Men      1
166                           Trap Women      1
167                                Women     12
168                          Women +67kg      1
169                         Women +78 kg      1
170                         Women -48 kg      1
171                          Women -49kg      1
172                         Women -52 kg      1
173                         Women -57 kg      1
174                          Women -57kg      1
175                         Women -63 kg      1
176                          Women -67kg      1
177                         Women -70 kg      1
178                         Women -78 kg      1
179                        Women's +81kg      1
180                      Women's 10,000m      1
181                         Women's 100m      1
182              Women's 100m Backstroke      1
183            Women's 100m Breaststroke      1
184               Women's 100m Butterfly      1
185               Women's 100m Freestyle      1
186                 Women's 100m Hurdles      1
187                         Women's 10km      1
188                 Women's 10m Platform      1
189                        Women's 1500m      1
190              Women's 1500m Freestyle      1
191                         Women's 200m      1
192              Women's 200m Backstroke      1
193            Women's 200m Breaststroke      1
194               Women's 200m Butterfly      1
195               Women's 200m Freestyle      1
196       Women's 200m Individual Medley      1
197               Women's 20km Race Walk      1
198           Women's 3000m Steeplechase      1
199               Women's 3m Springboard      1
200     Women's 4 x 100m Freestyle Relay      1
201        Women's 4 x 100m Medley Relay      1
202               Women's 4 x 100m Relay      1
203     Women's 4 x 200m Freestyle Relay      1
204               Women's 4 x 400m Relay      1
205                         Women's 400m      1
206               Women's 400m Freestyle      1
207                 Women's 400m Hurdles      1
208       Women's 400m Individual Medley      1
209                         Women's 49kg      1
210                        Women's 5000m      1
211                         Women's 50kg      1
212                Women's 50m Freestyle      1
213                         Women's 54kg      1
214                         Women's 57kg      1
215                         Women's 59kg      1
216                         Women's 60kg      1
217                         Women's 66kg      1
218                         Women's 71kg      1
219                         Women's 75kg      1
220                         Women's 800m      1
221               Women's 800m Freestyle      1
222                         Women's 81kg      1
223                   Women's All-Around      1
224                 Women's Balance Beam      1
225               Women's Boulder & Lead      1
226            Women's Canoe Double 500m      1
227                 Women's Canoe Single      1
228            Women's Canoe Single 200m      1
229                Women's Cross-country      1
230                       Women's Dinghy      1
231                 Women's Discus Throw      1
232                Women's Double Sculls      1
233                      Women's Doubles      2
234                        Women's Eight      1
235               Women's Floor Exercise      1
236              Women's Foil Individual      1
237                    Women's Foil Team      1
238                         Women's Four      1
239               Women's Freestyle 50kg      1
240               Women's Freestyle 53kg      1
241               Women's Freestyle 57kg      1
242               Women's Freestyle 62kg      1
243               Women's Freestyle 68kg      1
244               Women's Freestyle 76kg      1
245                 Women's Hammer Throw      1
246                   Women's Heptathlon      1
247                    Women's High Jump      1
248                   Women's Individual      3
249       Women's Individual Stroke Play      1
250        Women's Individual Time Trial      1
251                Women's Javelin Throw      1
252                  Women's Kayak Cross      1
253            Women's Kayak Double 500m      1
254              Women's Kayak Four 500m      1
255                 Women's Kayak Single      1
256            Women's Kayak Single 500m      1
257                       Women's Keirin      1
258                         Women's Kite      1
259                    Women's Long Jump      1
260                      Women's Madison      1
261                     Women's Marathon      1
262                       Women's Omnium      1
263                         Women's Pair      1
264                         Women's Park      2
265                   Women's Pole Vault      1
266             Women's Quadruple Sculls      1
267                    Women's Road Race      1
268             Women's Sabre Individual      1
269                   Women's Sabre Team      1
270                     Women's Shot Put      1
271                Women's Single Sculls      1
272                      Women's Singles      3
273                        Women's Skiff      1
274                        Women's Speed      1
275                       Women's Sprint      1
276                       Women's Street      1
277    Women's Synchronised 10m Platform      1
278  Women's Synchronised 3m Springboard      1
279                         Women's Team      3
280                 Women's Team Pursuit      1
281                  Women's Team Sprint      1
282                  Women's Triple Jump      1
283                  Women's Uneven Bars      1
284                        Women's Vault      1
285                  Women's Windsurfing      1
286              Women's Épée Individual      1
287                    Women's Épée Team      1

In [61]:
events=[]
events.append(events_event_count['event'])
print(events)

[0                       10m Air Pistol Men
1                10m Air Pistol Mixed Team
2                     10m Air Pistol Women
3                        10m Air Rifle Men
4                 10m Air Rifle Mixed Team
5                      10m Air Rifle Women
6                         25m Pistol Women
7                25m Rapid Fire Pistol Men
8                     4 x 400m Relay Mixed
9                50m Rifle 3 Positions Men
10             50m Rifle 3 Positions Women
11                                  B-Boys
12                                 B-Girls
13                     Dressage Individual
14                           Dressage Team
15                                    Duet
16                     Eventing Individual
17                           Eventing Team
18                        Group All-Around
19                   Individual All-Around
20                      Jumping Individual
21                            Jumping Team
22         Lightweight Men's Double Sculls
23       Lightweight Women's Double Sculls
24          Marathon Race Walk Relay Mixed
25                                     Men
26                             Men +100 kg
27                               Men +80kg
28                             Men -100 kg
29                               Men -58kg
30                              Men -60 kg
31                              Men -66 kg
32                               Men -68kg
33                              Men -73 kg
34                               Men -80kg
35                              Men -81 kg
36                              Men -90 kg
37                            Men's +102kg
38                             Men's +92kg
39                           Men's 10,000m
40                              Men's 100m
41                   Men's 100m Backstroke
42                 Men's 100m Breaststroke
43                    Men's 100m Butterfly
44                    Men's 100m Freestyle
45                             Men's 102kg
46                              Men's 10km
47                      Men's 10m Platform
48                      Men's 110m Hurdles
49                             Men's 1500m
50                   Men's 1500m Freestyle
51                              Men's 200m
52                   Men's 200m Backstroke
53                 Men's 200m Breaststroke
54                    Men's 200m Butterfly
55                    Men's 200m Freestyle
56            Men's 200m Individual Medley
57                    Men's 20km Race Walk
58                Men's 3000m Steeplechase
59                    Men's 3m Springboard
60          Men's 4 x 100m Freestyle Relay
61             Men's 4 x 100m Medley Relay
62                    Men's 4 x 100m Relay
63          Men's 4 x 200m Freestyle Relay
64                    Men's 4 x 400m Relay
65                              Men's 400m
66                    Men's 400m Freestyle
67                      Men's 400m Hurdles
68            Men's 400m Individual Medley
69                             Men's 5000m
70                     Men's 50m Freestyle
71                              Men's 51kg
72                              Men's 57kg
73                              Men's 61kg
74                            Men's 63.5kg
75                              Men's 71kg
76                              Men's 73kg
77                              Men's 800m
78                    Men's 800m Freestyle
79                              Men's 80kg
80                              Men's 89kg
81                              Men's 92kg
82                        Men's All-Around
83                    Men's Boulder & Lead
84                 Men's Canoe Double 500m
85                      Men's Canoe Single
86                Men's Canoe Single 1000m
87                     Men's Cross-country
88                         Men's Decathlon
89                            Men's Dinghy
90                      Men's Discus Throw
91                     Men's Double Sculls
92                           Men's Doubles
93                             Men's Eight
94                    Men's Floor Exercise
95                   Men's Foil Individual
96                         Men's Foil Team
97                              Men's Four
98                   Men's Freestyle 125kg
99                    Men's Freestyle 57kg
100                   Men's Freestyle 65kg
101                   Men's Freestyle 74kg
102                   Men's Freestyle 86kg
103                   Men's Freestyle 97kg
104                Men's Greco-Roman 130kg
105                 Men's Greco-Roman 60kg
106                 Men's Greco-Roman 67kg
107                 Men's Greco-Roman 77kg
108                 Men's Greco-Roman 87kg
109                 Men's Greco-Roman 97kg
110                     Men's Hammer Throw
111                        Men's High Jump
112                   Men's Horizontal Bar
113                       Men's Individual
114           Men's Individual Stroke Play
115            Men's Individual Time Trial
116                    Men's Javelin Throw
117                      Men's Kayak Cross
118                Men's Kayak Double 500m
119                  Men's Kayak Four 500m
120                     Men's Kayak Single
121               Men's Kayak Single 1000m
122                           Men's Keirin
123                             Men's Kite
124                        Men's Long Jump
125                          Men's Madison
126                         Men's Marathon
127                           Men's Omnium
128                             Men's Pair
129                    Men's Parallel Bars
130                             Men's Park
131                       Men's Pole Vault
132                     Men's Pommel Horse
133                 Men's Quadruple Sculls
134                            Men's Rings
135                        Men's Road Race
136                 Men's Sabre Individual
137                       Men's Sabre Team
138                         Men's Shot Put
139                    Men's Single Sculls
140                          Men's Singles
141                            Men's Skiff
142                            Men's Speed
143                           Men's Sprint
144                           Men's Street
145        Men's Synchronised 10m Platform
146      Men's Synchronised 3m Springboard
147                             Men's Team
148                     Men's Team Pursuit
149                      Men's Team Sprint
150                      Men's Triple Jump
151                            Men's Vault
152                      Men's Windsurfing
153                  Men's Épée Individual
154                        Men's Épée Team
155            Mixed 4 x 100m Medley Relay
156                           Mixed Dinghy
157                          Mixed Doubles
158                        Mixed Multihull
159                            Mixed Relay
160                             Mixed Team
161                              Skeet Men
162                       Skeet Mixed Team
163                            Skeet Women
164                                   Team
165                               Trap Men
166                             Trap Women
167                                  Women
168                            Women +67kg
169                           Women +78 kg
170                           Women -48 kg
171                            Women -49kg
172                           Women -52 kg
173                           Women -57 kg
174                            Women -57kg
175                           Women -63 kg
176                            Women -67kg
177                           Women -70 kg
178                           Women -78 kg
179                          Women's +81kg
180                        Women's 10,000m
181                           Women's 100m
182                Women's 100m Backstroke
183              Women's 100m Breaststroke
184                 Women's 100m Butterfly
185                 Women's 100m Freestyle
186                   Women's 100m Hurdles
187                           Women's 10km
188                   Women's 10m Platform
189                          Women's 1500m
190                Women's 1500m Freestyle
191                           Women's 200m
192                Women's 200m Backstroke
193              Women's 200m Breaststroke
194                 Women's 200m Butterfly
195                 Women's 200m Freestyle
196         Women's 200m Individual Medley
197                 Women's 20km Race Walk
198             Women's 3000m Steeplechase
199                 Women's 3m Springboard
200       Women's 4 x 100m Freestyle Relay
201          Women's 4 x 100m Medley Relay
202                 Women's 4 x 100m Relay
203       Women's 4 x 200m Freestyle Relay
204                 Women's 4 x 400m Relay
205                           Women's 400m
206                 Women's 400m Freestyle
207                   Women's 400m Hurdles
208         Women's 400m Individual Medley
209                           Women's 49kg
210                          Women's 5000m
211                           Women's 50kg
212                  Women's 50m Freestyle
213                           Women's 54kg
214                           Women's 57kg
215                           Women's 59kg
216                           Women's 60kg
217                           Women's 66kg
218                           Women's 71kg
219                           Women's 75kg
220                           Women's 800m
221                 Women's 800m Freestyle
222                           Women's 81kg
223                     Women's All-Around
224                   Women's Balance Beam
225                 Women's Boulder & Lead
226              Women's Canoe Double 500m
227                   Women's Canoe Single
228              Women's Canoe Single 200m
229                  Women's Cross-country
230                         Women's Dinghy
231                   Women's Discus Throw
232                  Women's Double Sculls
233                        Women's Doubles
234                          Women's Eight
235                 Women's Floor Exercise
236                Women's Foil Individual
237                      Women's Foil Team
238                           Women's Four
239                 Women's Freestyle 50kg
240                 Women's Freestyle 53kg
241                 Women's Freestyle 57kg
242                 Women's Freestyle 62kg
243                 Women's Freestyle 68kg
244                 Women's Freestyle 76kg
245                   Women's Hammer Throw
246                     Women's Heptathlon
247                      Women's High Jump
248                     Women's Individual
249         Women's Individual Stroke Play
250          Women's Individual Time Trial
251                  Women's Javelin Throw
252                    Women's Kayak Cross
253              Women's Kayak Double 500m
254                Women's Kayak Four 500m
255                   Women's Kayak Single
256              Women's Kayak Single 500m
257                         Women's Keirin
258                           Women's Kite
259                      Women's Long Jump
260                        Women's Madison
261                       Women's Marathon
262                         Women's Omnium
263                           Women's Pair
264                           Women's Park
265                     Women's Pole Vault
266               Women's Quadruple Sculls
267                      Women's Road Race
268               Women's Sabre Individual
269                     Women's Sabre Team
270                       Women's Shot Put
271                  Women's Single Sculls
272                        Women's Singles
273                          Women's Skiff
274                          Women's Speed
275                         Women's Sprint
276                         Women's Street
277      Women's Synchronised 10m Platform
278    Women's Synchronised 3m Springboard
279                           Women's Team
280                   Women's Team Pursuit
281                    Women's Team Sprint
282                    Women's Triple Jump
283                    Women's Uneven Bars
284                          Women's Vault
285                    Women's Windsurfing
286                Women's Épée Individual
287                      Women's Épée Team
Name: event, dtype: object]

In [62]:
print(f"events_event_count : {events_event_count.shape}")
print(f"teams_events_count: {teams_events_count.shape}")

events_event_count : (288, 2)
teams_events_count: (69, 2)

In [63]:
unique_in_events = set(events_event_count['event']) - set(teams_events_count['events'])
unique_in_events_df = pd.DataFrame(unique_in_events, columns=['Unique Events in events_event_count'])
# unique_in_events_df

In [64]:
print(f"unique_in_events_df : {unique_in_events_df.count()}")

unique_in_events_df : Unique Events in events_event_count    219
dtype: int64

In [65]:
unique_in_teams = set(teams_events_count['events']) - set(events_event_count['event'])
unique_in_teams_df = pd.DataFrame(unique_in_teams, columns=['Unique Events in teams_events_count'])
unique_in_teams_df

Empty DataFrame
Columns: [Unique Events in teams_events_count]
Index: []

In [66]:
print(f"unique_in_teams_df : {unique_in_teams_df.count()}")

unique_in_teams_df : Unique Events in teams_events_count    0
dtype: int64

# sample check

In [67]:
filtered_df = teams_df[teams_df['events'] == "Women's Javelin Throw"]

filtered_df

Empty DataFrame
Columns: [code, current, team, team_gender, country_code, country, country_long, discipline, disciplines_code, events, athletes, coaches, athletes_codes, num_athletes, coaches_codes, num_coaches]
Index: []

# Check basic information about the datasets

In [68]:
print(teams_df.info())
print(events_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1698 entries, 0 to 1697
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   code              1698 non-null   object
 1   current           1698 non-null   bool
 2   team              1698 non-null   object
 3   team_gender       1698 non-null   object
 4   country_code      1698 non-null   object
 5   country           1698 non-null   object
 6   country_long      1698 non-null   object
 7   discipline        1698 non-null   object
 8   disciplines_code  1698 non-null   object
 9   events            1377 non-null   object
 10  athletes          1695 non-null   object
 11  coaches           246 non-null    object
 12  athletes_codes    1695 non-null   object
 13  num_athletes      1695 non-null   float64
 14  coaches_codes     246 non-null    object
 15  num_coaches       246 non-null    float64
dtypes: bool(1), float64(2), object(13)
memory usage: 200.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   event       329 non-null    object
 1   tag         329 non-null    object
 2   sport       329 non-null    object
 3   sport_code  329 non-null    object
 4   sport_url   329 non-null    object
dtypes: object(5)
memory usage: 13.0+ KB
None

# missing value check

In [69]:
print(teams_df.isnull().sum())
print(events_df.isnull().sum())

code                   0
current                0
team                   0
team_gender            0
country_code           0
country                0
country_long           0
discipline             0
disciplines_code       0
events               321
athletes               3
coaches             1452
athletes_codes         3
num_athletes           3
coaches_codes       1452
num_coaches         1452
dtype: int64
event         0
tag           0
sport         0
sport_code    0
sport_url     0
dtype: int64

In [70]:
events_counts = teams_df.groupby('events')['events'].count()
print(events_counts.head(5))

events
10m Air Pistol Mixed Team    17
10m Air Rifle Mixed Team     28
4 x 400m Relay Mixed         16
Dressage Team                15
Duet                         18
Name: events, dtype: int64

In [71]:
teams_df= pd.read_csv("/Users/vidushi/Documents/Data_Visualization/datasets/olympics/teams.csv")

specified_columns = ['events', 'athletes', 'coaches', 'athletes_codes', 'num_athletes', 'coaches_codes', 'num_coaches']
missing_data_columns = teams_df[specified_columns].isnull().sum()
missing_data_columns = missing_data_columns[missing_data_columns > 0]
missing_data_columns_list = missing_data_columns.to_dict()
print("Columns with Missing Data:", missing_data_columns_list)

Columns with Missing Data: {'events': 321, 'athletes': 3, 'coaches': 1452, 'athletes_codes': 3, 'num_athletes': 3, 'coaches_codes': 1452, 'num_coaches': 1452}

In [72]:
teams_df.shape

(1698, 16)

In [73]:
missing_rows_df = teams_df[specified_columns]
missing_rows_df = missing_rows_df[teams_df[specified_columns].isnull().any(axis=1)]
missing_rows_df.shape

(1452, 7)

In [74]:
missing_rows_df[missing_rows_df["events"].notnull()].head(5)

,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
1,Men's Team,"['ARCILA Santiago', 'ENRIQUEZ Jorge', 'HERNAND...",NaN,"['1935642', '1543412', '1935644']",3.0,NaN,NaN
2,Men's Team,"['ADDIS Baptiste', 'CHIRAULT Thomas', 'VALLADO...",NaN,"['1541270', '1541272', '1541275']",3.0,NaN,NaN
3,Men's Team,"['HALL Conor', 'HALL Tom', 'WISE Alex']",NaN,"['1560988', '1560989', '1561003']",3.0,NaN,NaN
4,Men's Team,"['BOMMADEVARA Dhiraj', 'JADHAV Pravin Ramesh',...",NaN,"['1546108', '1546112', '1546110']",3.0,NaN,NaN

In [75]:
teams_df.iloc[947]

code                SHOXSKMT----EGY01
current                          True
team                            Egypt
team_gender                         X
country_code                      EGY
country                         Egypt
country_long                    Egypt
discipline                   Shooting
disciplines_code                  SHO
events               Skeet Mixed Team
athletes                          NaN
coaches                           NaN
athletes_codes                    NaN
num_athletes                      NaN
coaches_codes                     NaN
num_coaches                       NaN
Name: 947, dtype: object

In [76]:
teams_df["events"].head(5)

0    Men's Team
1    Men's Team
2    Men's Team
3    Men's Team
4    Men's Team
Name: events, dtype: object

In [77]:
teams_df.head()

,code,current,team,team_gender,country_code,country,country_long,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,ARCMTEAM3---CHN01,True,People's Republic of China,M,CHN,China,People's Republic of China,Archery,ARC,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
1,ARCMTEAM3---COL01,True,Colombia,M,COL,Colombia,Colombia,Archery,ARC,Men's Team,"['ARCILA Santiago', 'ENRIQUEZ Jorge', 'HERNAND...",NaN,"['1935642', '1543412', '1935644']",3.0,NaN,NaN
2,ARCMTEAM3---FRA01,True,France,M,FRA,France,France,Archery,ARC,Men's Team,"['ADDIS Baptiste', 'CHIRAULT Thomas', 'VALLADO...",NaN,"['1541270', '1541272', '1541275']",3.0,NaN,NaN
3,ARCMTEAM3---GBR01,True,Great Britain,M,GBR,Great Britain,Great Britain,Archery,ARC,Men's Team,"['HALL Conor', 'HALL Tom', 'WISE Alex']",NaN,"['1560988', '1560989', '1561003']",3.0,NaN,NaN
4,ARCMTEAM3---IND01,True,India,M,IND,India,India,Archery,ARC,Men's Team,"['BOMMADEVARA Dhiraj', 'JADHAV Pravin Ramesh',...",NaN,"['1546108', '1546112', '1546110']",3.0,NaN,NaN

In [78]:
import pandas as pd

teams_df = pd.read_csv("/Users/vidushi/Documents/Data_Visualization/datasets/olympics/teams.csv")
specified_columns = ['events', 'athletes', 'coaches', 'athletes_codes', 'num_athletes', 'coaches_codes', 'num_coaches']
missing_data_columns = teams_df[specified_columns].isnull().sum()
missing_data_columns = missing_data_columns[missing_data_columns > 0]  
missing_data_columns_list = missing_data_columns.index.tolist()  

# print("Columns with Missing Data:")
# print(missing_data_columns)

missing_rows_df = teams_df[teams_df[missing_data_columns_list].isnull().any(axis=1)]
print("\nRows with Missing Data:")
missing_rows_df.head(5)

Rows with Missing Data:

,code,current,team,team_gender,country_code,country,country_long,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,ARCMTEAM3---CHN01,True,People's Republic of China,M,CHN,China,People's Republic of China,Archery,ARC,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
1,ARCMTEAM3---COL01,True,Colombia,M,COL,Colombia,Colombia,Archery,ARC,Men's Team,"['ARCILA Santiago', 'ENRIQUEZ Jorge', 'HERNAND...",NaN,"['1935642', '1543412', '1935644']",3.0,NaN,NaN
2,ARCMTEAM3---FRA01,True,France,M,FRA,France,France,Archery,ARC,Men's Team,"['ADDIS Baptiste', 'CHIRAULT Thomas', 'VALLADO...",NaN,"['1541270', '1541272', '1541275']",3.0,NaN,NaN
3,ARCMTEAM3---GBR01,True,Great Britain,M,GBR,Great Britain,Great Britain,Archery,ARC,Men's Team,"['HALL Conor', 'HALL Tom', 'WISE Alex']",NaN,"['1560988', '1560989', '1561003']",3.0,NaN,NaN
4,ARCMTEAM3---IND01,True,India,M,IND,India,India,Archery,ARC,Men's Team,"['BOMMADEVARA Dhiraj', 'JADHAV Pravin Ramesh',...",NaN,"['1546108', '1546112', '1546110']",3.0,NaN,NaN

In [79]:
import pandas as pd
import os
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')  # Suppress warnings for cleaner output

# File paths
base_path = "/Users/vidushi/Documents/Data_Visualization/datasets/olympics"
files = ["teams.csv", "medallists.csv", "medals.csv", "medals_total.csv", 
         "athletes.csv", "coaches.csv", "events.csv"]

# Function to safely read CSV files
def safe_read_csv(file_path):
    try:
        return pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"Warning: File not found: {file_path}")
        return None

# Read files dynamically into a dictionary of DataFrames
dataframes = {}
for file in files:
    file_path = os.path.join(base_path, file)
    df = safe_read_csv(file_path)
    if df is not None:
        dataframes[file.replace('.csv', '')] = df

# Display the number of files successfully loaded
print(f"Successfully loaded {len(dataframes)} out of {len(files)} files.")

# Display basic information about each DataFrame
for name, df in dataframes.items():
    print(f"\n{name} shape: {df.shape}")
    print(f"{name} columns: {df.columns.tolist()}")
    display(df.head(2))  # Show first 2 rows of each DataFrame

Successfully loaded 7 out of 7 files.

teams shape: (1698, 16)
teams columns: ['code', 'current', 'team', 'team_gender', 'country_code', 'country', 'country_long', 'discipline', 'disciplines_code', 'events', 'athletes', 'coaches', 'athletes_codes', 'num_athletes', 'coaches_codes', 'num_coaches']

,code,current,team,team_gender,country_code,country,country_long,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,ARCMTEAM3---CHN01,True,People's Republic of China,M,CHN,China,People's Republic of China,Archery,ARC,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
1,ARCMTEAM3---COL01,True,Colombia,M,COL,Colombia,Colombia,Archery,ARC,Men's Team,"['ARCILA Santiago', 'ENRIQUEZ Jorge', 'HERNAND...",NaN,"['1935642', '1543412', '1935644']",3.0,NaN,NaN

medallists shape: (2315, 21)
medallists columns: ['medal_date', 'medal_type', 'medal_code', 'name', 'gender', 'country_code', 'country', 'country_long', 'nationality_code', 'nationality', 'nationality_long', 'team', 'team_gender', 'discipline', 'event', 'event_type', 'url_event', 'birth_date', 'code_athlete', 'code_team', 'is_medallist']

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,nationality_long,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
0,2024-07-27,Gold Medal,1.0,EVENEPOEL Remco,Male,BEL,Belgium,Belgium,BEL,Belgium,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136,NaN,True
1,2024-07-27,Silver Medal,2.0,GANNA Filippo,Male,ITA,Italy,Italy,ITA,Italy,Italy,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520,NaN,True

medals shape: (1044, 13)
medals columns: ['medal_type', 'medal_code', 'medal_date', 'name', 'gender', 'discipline', 'event', 'event_type', 'url_event', 'code', 'country_code', 'country', 'country_long']

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
0,Gold Medal,1.0,2024-07-27,Remco EVENEPOEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136,BEL,Belgium,Belgium
1,Silver Medal,2.0,2024-07-27,Filippo GANNA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520,ITA,Italy,Italy

medals_total shape: (92, 7)
medals_total columns: ['country_code', 'country', 'country_long', 'Gold Medal', 'Silver Medal', 'Bronze Medal', 'Total']

,country_code,country,country_long,Gold Medal,Silver Medal,Bronze Medal,Total
0,USA,United States,United States of America,40,44,42,126
1,CHN,China,People's Republic of China,40,27,24,91

athletes shape: (11113, 36)
athletes columns: ['code', 'current', 'name', 'name_short', 'name_tv', 'gender', 'function', 'country_code', 'country', 'country_long', 'nationality', 'nationality_long', 'nationality_code', 'height', 'weight', 'disciplines', 'events', 'birth_date', 'birth_place', 'birth_country', 'residence_place', 'residence_country', 'nickname', 'hobbies', 'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero', 'influence', 'philosophy', 'sporting_relatives', 'ritual', 'other_sports']

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,nationality,nationality_long,nationality_code,height,weight,disciplines,events,birth_date,birth_place,birth_country,residence_place,residence_country,nickname,hobbies,occupation,education,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Greco-Roman 97kg""]",1991-10-21,GYUMRI,Armenia,GYUMRI,Armenia,White Bear,Playing and watching football,Athlete,Graduated from Shirak State University (Gyumri...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",1999-01-22,YEREVAN,Armenia,YEREVAN,Armenia,NaN,NaN,NaN,NaN,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN

coaches shape: (974, 12)
coaches columns: ['code', 'current', 'name', 'gender', 'function', 'category', 'country_code', 'country', 'country_long', 'disciplines', 'events', 'birth_date']

,code,current,name,gender,function,category,country_code,country,country_long,disciplines,events,birth_date
0,1533246,True,PEDRERO Ofelia,Female,Coach,C,MEX,Mexico,Mexico,Artistic Swimming,Team,1988-03-28
1,1535775,True,RADHI SHENAISHIL,Male,Head Coach,C,IRQ,Iraq,Iraq,Football,Men,1965-07-01

events shape: (329, 5)
events columns: ['event', 'tag', 'sport', 'sport_code', 'sport_url']

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

# clean datasets

In [80]:
missed_teams_event = teams_df[teams_df['events'].isnull()]
print(missed_teams_event.columns)

Index(['code', 'current', 'team', 'team_gender', 'country_code', 'country',
       'country_long', 'discipline', 'disciplines_code', 'events', 'athletes',
       'coaches', 'athletes_codes', 'num_athletes', 'coaches_codes',
       'num_coaches'],
      dtype='object')

# check for unique column in missed_teams_event

In [81]:
unique_columns = []
for column in missed_teams_event.columns:
    unique_count = missed_teams_event[column].nunique(dropna=False)
    if unique_count == len(missed_teams_event):
        unique_columns.append(column)

if unique_columns:
    print("Columns with all unique values in missed_teams_event:")
    print(unique_columns)
else:
    print("No columns in missed_teams_event have entirely unique values.")

Columns with all unique values in missed_teams_event:
['code']

In [82]:
missed_teams_event.count()

code                321
current             321
team                321
team_gender         321
country_code        321
country             321
country_long        321
discipline          321
disciplines_code    321
events                0
athletes            319
coaches               0
athletes_codes      319
num_athletes        319
coaches_codes         0
num_coaches           0
dtype: int64

In [83]:
events_df= pd.read_csv("/Users/vidushi/Documents/Data_Visualization/datasets/olympics/events.csv")
print(events_df.columns)

Index(['event', 'tag', 'sport', 'sport_code', 'sport_url'], dtype='object')

In [84]:
missed_teams_event.head(5)

,code,current,team,team_gender,country_code,country,country_long,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
915,SHOXARMT----ALG01,True,Algeria,X,ALG,Algeria,Algeria,Shooting,SHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1100,T000180168080,False,United States of America,M,USA,United States,United States of America,Swimming,SWM,NaN,"['PHELPS Michael', 'BERENS Richard', 'WALTERS ...",NaN,"['A058159120057', 'A160201175025', 'A158032245...",4.0,NaN,NaN
1103,T005092223144,False,Australia,W,AUS,Australia,Australia,Swimming,SWM,NaN,"['SEEBOHM Emily', 'JONES Leisel', 'SCHIPPER Je...",NaN,"['A151028178217', 'A068106140221', 'A112174219...",4.0,NaN,NaN
1104,T005105061005,False,Netherlands,W,NED,Netherlands,Netherlands,Swimming,SWM,NaN,"['DEKKER Inge', 'KROMOWIDJOJO Ranomi', 'HEEMSK...",NaN,"['A167210043023', 'A021086173153', 'A099009248...",4.0,NaN,NaN
1105,T005106100046,False,People's Republic of China,W,CHN,China,People's Republic of China,Swimming,SWM,NaN,"['YANG Junxuan', 'TANG Muhan', 'ZHANG Yufei', ...",NaN,"['1945159', 'A165186157200', '1945125', '19451...",4.0,NaN,NaN

In [85]:
events_df.head(5)

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,Men's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,Women's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,Mixed Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [86]:
athletes_df= pd.read_csv("/Users/vidushi/Documents/Data_Visualization/datasets/olympics/athletes.csv")
print(athletes_df.columns)

Index(['code', 'current', 'name', 'name_short', 'name_tv', 'gender',
       'function', 'country_code', 'country', 'country_long', 'nationality',
       'nationality_long', 'nationality_code', 'height', 'weight',
       'disciplines', 'events', 'birth_date', 'birth_place', 'birth_country',
       'residence_place', 'residence_country', 'nickname', 'hobbies',
       'occupation', 'education', 'family', 'lang', 'coach', 'reason', 'hero',
       'influence', 'philosophy', 'sporting_relatives', 'ritual',
       'other_sports'],
      dtype='object')

In [87]:
athletes_df.head(5)

,code,current,name,name_short,name_tv,gender,function,country_code,country,country_long,nationality,nationality_long,nationality_code,height,weight,disciplines,events,birth_date,birth_place,birth_country,residence_place,residence_country,nickname,hobbies,occupation,education,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,True,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Greco-Roman 97kg""]",1991-10-21,GYUMRI,Armenia,GYUMRI,Armenia,White Bear,Playing and watching football,Athlete,Graduated from Shirak State University (Gyumri...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,True,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",1999-01-22,YEREVAN,Armenia,YEREVAN,Armenia,NaN,NaN,NaN,NaN,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,True,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Greco-Roman 67kg""]",1996-12-21,NaN,NaN,YEREVAN,Armenia,NaN,NaN,NaN,NaN,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,True,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Freestyle 57kg""]",1999-11-22,MASIS,Armenia,YEREVAN,Armenia,NaN,NaN,Athlete,Graduated with a Master's degree from the Arme...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"“Nothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,True,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,Armenia,ARM,0.0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",1999-10-27,POKR VEDI,Armenia,NaN,Armenia,NaN,NaN,Athlete,Studied at the Armenian State Institute of Phy...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN

# athletes_codes in teams_df = code in athletes_df

In [88]:

filtered_athlete = athletes_df[athletes_df['code'] == '1945159']

filtered_athlete

Empty DataFrame
Columns: [code, current, name, name_short, name_tv, gender, function, country_code, country, country_long, nationality, nationality_long, nationality_code, height, weight, disciplines, events, birth_date, birth_place, birth_country, residence_place, residence_country, nickname, hobbies, occupation, education, family, lang, coach, reason, hero, influence, philosophy, sporting_relatives, ritual, other_sports]
Index: []

In [89]:
# Filter rows where 'code' contains the substring 'A'
filtered_athlete = athletes_df[athletes_df['code'].str.contains('A', na=False)]

print(filtered_athlete)

AttributeError: Can only use .str accessor with string values!

In [ ]:
pd.set_option('display.max_colwidth', None)  # Ensures full column content is displayed

# Display the complete data for athletes and athletes_codes columns
print("Complete data for 'athletes' column:")
print(missed_teams_event['athletes'].head(5))

In [ ]:
print("\nComplete data for 'athletes_codes' column:")
print(missed_teams_event['athletes_codes'].head(5))

# Extract the list of athletes_codes from missed_teams_event and flatten it into a single list

In [ ]:
import pandas as pd
import ast

# Convert string representations of lists to actual lists (skip invalid entries)
def safe_literal_eval(value):
    try:
        # Check if the string starts with '[' to identify list-like entries
        if isinstance(value, str) and value.strip().startswith('['):
            return ast.literal_eval(value)
        else:
            return None  # Skip non-list entries (e.g., "Unknown Code")
    except:
        return None

# Apply the function to the column
missed_teams_event['athletes_codes'] = missed_teams_event['athletes_codes'].apply(safe_literal_eval)

# Flatten the list and remove duplicates
flattened_list = list(set(
    item for sublist in missed_teams_event['athletes_codes'].dropna() 
    for item in sublist
))

print("Distinct athletes_codes:")
print(flattened_list)

In [ ]:
filtered_list = [code for code in flattened_list if not code.startswith(('A', 'T'))]
print(filtered_list)

In [ ]:
# Check which codes in filtered_list exist in athletes_df['code']
matched_codes = [code for code in filtered_list if code in athletes_df['code'].values]

# Display matched codes
print("Matched Codes:")
print(matched_codes)

In [ ]:
# Fetch rows from athletes_df where the code matches the values in matched_codes
matched_athletes = athletes_df[athletes_df['code'].isin(matched_codes)]
matched_events_and_codes = matched_athletes[['events', 'code']]

matched_events_and_codes.head(5)

In [ ]:
missed_teams_event['athletes'])

# clean the dataset

In [ ]:
teams_df_cleaned = teams_df.dropna(subset=['athletes', 'athletes_codes', 'num_athletes'])
teams_df_cleaned['events'] = teams_df_cleaned['events'].fillna('UNKNOWN')
print(f"Original DataFrame shape: {teams_df.shape}")
print(f"Cleaned DataFrame shape: {teams_df_cleaned.shape}")
print("\nMissing values after cleaning:")
print(teams_df_cleaned[['athletes', 'athletes_codes', 'num_athletes', 'events']].isnull().sum())
cleaned_file_path = "/Users/vidushi/Documents/Data_Visualization/datasets/olympics/cleaned_teams.csv"
teams_df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"Cleaned data saved to: {cleaned_file_path}")